
/* Стилизация с помощью CSS классов */
/* .cross {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
} */



/* Применение cтилизации */
#elem {
	display: none;
	width: 200px;
	height: 200px;
	border: 1px solid green;
}

#elem.active {
	display: block;
}

.img_block {
    display: none;
    padding: 15px;
}

.img_block.active {
    display: block;
    transform: rotate(45deg);
}

.img_flower {
    height: 150px;
}

.img_flower.active {
    transform: rotate(45deg);
}